---
import { Icon } from 'astro-icon/components';

import Image from '~/components/common/image.astro';
import SocialShare from '~/components/common/social.astro';

import Table from '~/components/article/table.astro';
import PostTags from '~/components/article/tags.astro';

import { getFormattedDate } from '~/utils/utils';

import type { Post } from '~/types';

export interface Props {
	post: Post;
	url: string | URL;
}

const { post, url } = Astro.props;
const { Content } = post;
---

<section class="py-20 max-w-7xl mx-auto pb-10">

	<article>

		<header class={post.image ? '' : ''}>
			<h1
				class="mb-6 md:mb-12 px-4 sm:px-6 max-w-3xl mx-auto text-4xl md:text-5xl font-bold text-primary leading-tighter tracking-tighter font-heading"
			>
				{post.title}
			</h1>
			<p
				class="max-w-3xl mx-auto mt-4 mb-6 px-4 sm:px-6 text-xl md:text-2xl text-muted dark:text-slate-400 text-justify"
			>
				{post.description}
			</p>

			<div class="text-xl md:text-2xl text-muted dark:text-slate-400 flex justify-between flex-col sm:flex-row max-w-3xl mx-auto mt-0 mb-2 px-4 sm:px-6 sm:items-center">
				<p>
					<Icon name="tabler:clock" class="w-4 h-4 inline-block -mt-0.5 dark:text-gray-400"/>
					<time datetime={String(post.pubDatetime)} class="inline-block">{getFormattedDate(post.pubDatetime)}</time>
					{
						post.readingTime && (
							<>
								&nbsp;· <span>{post.readingTime}</span> phút đọc.
							</>
						)
					}
				</p>

			</div>

		<Table/>


			{
				post.image ? (
					<Image
						src={post.image}
						class="max-w-3xl mx-auto mt-4 mb-6 px-4 sm:px-6"
						widths={[400, 900]}
						sizes="(max-width: 900px) 400px, 900px"
						alt={post?.description || ''}
						width="auto"
						height="auto"
						loading="eager"
						decoding="async"
					/>):
				(
					<div <img class="max-w-3xl mx-auto px-4 sm:px-6">
						<div class="border-t dark:border-slate-700"/>
					</div>
				)
			}
		</header>

		<div
			class="sm:px-6 max-w-3xl px-6 text-justify mx-auto prose prose-xl md:text-2xl dark:prose-invert dark:prose-headings:text-primary prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:text-primary prose-h2:font-bold prose-h3:font-bold prose-h3:italic prose-h4:italic prose-a:font-bold prose-a:text-primary prose-a:target-blank dark:prose-a:text-accent prose-img:rounded-md mt-4 prose-headings:scroll-mt-[20px]"
		>

		{Content ? <Content/>: <Fragment set:html={post.content || ''}/>}
		</div>

		<div class="mx-auto px-6 sm:px-6 max-w-3xl mt-8 flex justify-between flex-col sm:flex-row">
			<PostTags tags={post.tags} class="mr-5 rtl:mr-0 rtl:ml-5"/>
		</div>

		<div class="mx-auto px-6 sm:px-6 max-w-3xl mt-8 flex justify-between flex-col sm:flex-row">
			<SocialShare url={url} text={post.title} class="mt-5 sm:mt-1 align-middle text-gray-500 dark:text-slate-600"/>
		</div>

	</article>


</section>