---
import { Icon } from 'astro-icon/components';
import Image from '~/components/common/image.astro';
import SocialShare from '~/components/common/social.astro';

import Table from '~/components/article/table.astro';
import Scrollon from '~/components/article/scrollon.astro';

import PostTags from '~/components/article/tags.astro';

import { Slideup } from '~/assets/framer.jsx';

import { getFormattedDate } from '~/utils/utils';
import type { Post } from '~/types';

export interface Props {
	post: Post;
	url: string | URL;
}

const { post, url } = Astro.props;
const { Content } = post;
---

<header class="relative not-prose w-full h-screen mb-6">

	{post.image ? (

		<div class="relative w-full h-full">

			<Image
				src={post.image}
				class="absolute inset-0 object-cover w-full h-full blur-[3px]"
				widths={[600, 900]}
				sizes="(max-width: 900px) 600px, 900px"
				alt={post?.description || ''}
				width="auto"
				height="auto"
				loading="eager"
				decoding="async"
			/>

			<div class="absolute inset-0 bg-black/30 dark:bg-black/50"></div>
					
			<div class="relative z-10 mx-auto px-4 sm:px-6 grid grid-cols-1 gap-8 h-full items-center">
				<div>
					<h1 class="text-white mb-4">{post.title}</h1>
							
					<p class="text-white">
						<time datetime={post.pubDatetime}>
							{`${new Date(post.pubDatetime)
								.toLocaleDateString('vi-VN', { day: 'numeric', month: 'numeric', year: 'numeric' })
								.replace(/(\d{1,2})\/(\d{1,2})\/(\d{4})/, 'Đăng ngày $1 tháng $2 năm $3')}.`
							}
						</time>
					</p>
					<p class="text-white">{post.description}</p>
					<p class="text-white">
						{post.readingTime && (
							<><span>{post.readingTime}</span> phút đọc</>
						)}
							&nbsp;· <span id="counter"></span> lượt xem.
					</p>
				</div>
			</div>

		</div>

	) : (

		<div class="border-t dark:border-slate-700"/>

	)}

</header>

<section class="py-20 max-w-7xl mx-auto pb-10">

	<article>
		
		<div class="max-w-8xl mx-auto px-4 sm:px-6">

			<div class="grid grid-cols-1 lg:grid-cols-[1fr,3fr] gap-8">

				<div class="relative">

					<div id="table-wrapper">

						<div class="relative mt-6">

							<Slideup client:visible>

								<Table/>

								<Scrollon/>

							</Slideup>

						</div>

					</div>

				</div>

				<div>

					<div class="text-2xl prose max-w-4xl prose-a:font-bold prose-a:text-primary prose-a:target-blank prose-img:rounded-md mt-6">

						{Content ? <Content/> : <Fragment set:html={post.content || ''}/>}

					</div>

					<PostTags tags={post.tags}/>

					<SocialShare url={url} text={post.title} class="mt-5 sm:mt-6 align-middle text-gray-500"/>

				</div>

			</div>

		</div>

	</article>

</section>

<script>

	document.addEventListener('DOMContentLoaded', () => {
		let count = localStorage.getItem('pageCounter');
		if (count === null) {
			count = Math.floor(Math.random() * (543 - 74 + 1)) + 45;
		} else {
			count = parseInt(count);
		}
		count += 1;
		localStorage.setItem('pageCounter', count);
		
		const counterElement = document.getElementById('counter');
		if (counterElement) {
			counterElement.textContent = count;
		}
	});

</script>