---
import { APP_BLOG } from "nhavantuonglai:config";

import Grid from "~/components/blog/grid.astro";

import { getBlogPermalink } from "~/utils/permalinks";
import { findLatestPosts } from "~/utils/blog";
import WidgetWrapper from "~/components/ui/widget-wrapper.astro";
import type { Widget } from "~/types";
import Button from "../ui/button.astro";

export interface Props extends Widget {
	title?: string;
	linkText?: string;
	linkUrl?: string | URL;
	information?: string;
	count?: number;
}

const {
	title = await Astro.slots.render("title"),
	linkText = "Đọc thêm",
	linkUrl = getBlogPermalink(),
	information = await Astro.slots.render("information"),
	count = 12,

	id,
	isDark = false,
	classes = {},
	bg = await Astro.slots.render("bg"),
} = Astro.props;

const posts = APP_BLOG.isEnabled ? await findLatestPosts({ count }) : [];
---

{
	APP_BLOG.isEnabled ? (
		<WidgetWrapper id={id} isDark={isDark} containerClass={classes?.container as string} bg={bg}>
			<div class="flex flex-col lg:justify-between lg:flex-row mb-6">
				{title && (
					<div class="md:max-w-sm">
						<h2
							class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-6 font-heading"
							set:html={title}
						/>
					</div>
				)}

				{information && <p class="text-muted text-justify dark:text-slate-400 lg:text-sm lg:max-w-md" set:html={information}/>}
			</div>

			<Grid posts={posts}/>

			<div class="flex flex-col lg:justify-between lg:flex-row mb-6">
				{APP_BLOG.list.isEnabled && linkText && linkUrl && (
					<Button variant="link" href={linkUrl}>{linkText} »</Button>
				)}
			</div>

		</WidgetWrapper>
	) : (
		<Fragment/>
	)
}