---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';

import Layout from '~/layouts/page.astro';
import Hero from '~/components/content/hero.astro';

import Headline from '~/components/article/headline.astro';
import BlogList from '~/components/article/list.astro';
import Pagination from '~/components/article/pagination.astro';

import Action from '~/components/content/action.astro';

import { blogListRobots, getStaticPathsBlogList } from '~/utils/blog';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) =>{
	return await getStaticPathsBlogList({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props as Props;
const currentPage = page.currentPage ?? 1;

const metadata = {
	title: `Danh sách bài viết ${currentPage > 1 ? ` | Trang ${currentPage}` : ''}`,
	description: `Danh sách bài viết ${currentPage > 1 ? ` | Trang ${currentPage}` : ''} gồm những bài hiện có, đã và đang xuất bản trên website, giúp người đọc nhanh chóng, dễ dàng tìm thấy thông tin mình cần.`,
	robots: {
		index: blogListRobots?.index,
		follow: blogListRobots?.follow,
	},
	openGraph: {
		type: 'blog',
	},
};
---

<Layout metadata={metadata}>

	<Hero/>

	<section class="mx-auto max-w-7xl md:px-6 px-6 sm:px-6 py-20">

		<Headline
			subtitle="đã xuất bản trên website."
		>

			Bài viết

		</Headline>

		<BlogList posts={page.data}/>

		<Pagination prevUrl={page.url.prev} nextUrl={page.url.next}/>

	</section>

	<Action/>

</Layout>
