---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';
import { blogTagRobots, getStaticPathsBlogTag } from '~/utils/blog';

import Layout from '~/layouts/page.astro';
import Tag from '~/components/content/blog/tag.astro';

import BlogList from '~/components/article/list.astro';
import Pagination from '~/components/article/pagination.astro';

import Action from '~/components/content/main/action.astro';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) =>{
	return await getStaticPathsBlogTag({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page, tag } = Astro.props as Props;

const currentPage = page.currentPage ?? 1;

const metadata = {
	title: `Danh sách bài viết theo thẻ ${tag}${currentPage >1 ? ` | Trang ${currentPage} ` : ''}`,
	description: `Danh sách bài viết theo thẻ ${tag}${currentPage >1 ? ` | Trang ${currentPage} ` : ''} gồm những bài hiện có, đã và đang xuất bản được phân loại trên website, giúp người đọc nhanh chóng, dễ dàng tìm thấy thông tin mình cần.`,
	robots: {
		index: blogTagRobots?.index,
		follow: blogTagRobots?.follow,
	},
};
---

<Layout metadata={metadata}>

	<Tag/>

	<section class="mx-auto max-w-7xl md:px-6 px-6 sm:px-6 py-20">

		<BlogList posts={page.data}/>

		<Pagination prevUrl={page.url.prev} nextUrl={page.url.next}/>

	</section>

	<Action/>

</Layout>