---
import { UI } from 'nhavantuonglai:config';

const html = `

	<style>

		:root {
			--aw-color-primary: ${UI.tokens.default.colors.primary};
			--aw-color-text-heading: ${UI.tokens.default.colors.heading};
			--aw-color-text-default: ${UI.tokens.default.colors.default};
			--aw-color-text-muted: ${UI.tokens.default.colors.muted};
			--aw-color-bg-page: ${UI.tokens.default.colors.page};
		}

	</style>

`;
---

<Fragment set:html={html} />

<div class="gradient-shape"></div>

<div class="galaxy-arm"></div>