---
import Layout from '~/layouts/page.astro';
import type { MetaData } from '~/types';

export interface Props {
	frontmatter: {
		title?: string;
		description?: string;
	};
}

const { frontmatter } = Astro.props;

const metadata: MetaData = {
	title: frontmatter?.title,
};

const base = "max-w-3xl mx-auto";
const text = "text-justify";
---

<Layout metadata={metadata}>

	<section class="max-w-8xl mx-auto py-20 px-4 sm:px-6 pb-10">

		<article>

			<header>

				<h1 class={`${base} ${text} text-4xl md:text-5xl font-bold text-primary leading-tighter tracking-tighter font-heading mt-4 mb-6`}>
					{frontmatter.title}
				</h1>

				<p class={`${base} ${text} text-xl md:text-2xl mt-4 mb-6`}>
					{frontmatter.description}
				</p>

			</header>



			<div>

				<div class={`${base} ${text} prose prose-xl md:text-2xl prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:text-primary prose-h2:font-bold prose-h3:font-bold prose-h3:italic prose-h4:italic prose-a:font-bold prose-a:text-primary prose-a:target-blank prose-img:rounded-md mt-4 mb-6 prose-headings:scroll-mt-[20px]`}>

					<slot/> 

			</div>

		</article>

	</section>

</Layout>